





<form #myForm=ngForm (ngSubmit)="onSubmit(myForm.value)">
  @let namErr = myForm.controls['name']?.errors;
  @let reqErr = namErr && namErr['required'];
  <input type="text" [(ngModel)]="name" name="name" required minlength="3" placeholder="Trage einen Namen ein!">
  @if( reqErr ) {
    <div>bitte trage einen Namen ein</div>
  } @else if( namErr && namErr['minlength'] ) {
    <div>min 3 Zeichen</div>
  } @else {
    <div>Danke für Eure Aufmerksamkeit ;)</div>
  }
  <input type="number" [(ngModel)]="age" name="age" [min]="18" [max]="100">
  @if( myForm.controls['age']?.errors ) {
    <div>Du musst 18 oder älter sein</div>
  }
  <button type="submit" [disabled]="myForm.invalid"> send</button>
</form>
