<h1>contact</h1>

<a routerLink="./form" routerLinkActive="active">form</a>
<a routerLink="./map" routerLinkActive="active">map</a>
<a routerLink="/contact">back</a>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ipsa provident tenetur. Aliquam autem eligendi fuga maiores soluta tenetur voluptas voluptate. Ab accusantium esse odit! Minus numquam sapiente unde voluptatem?</div>

<!-- an diese stelle wird die Form oder Map Komponetne angezeigt -->
<router-outlet></router-outlet>

