a {
  text-decoration: none;
  display: inline-block;
  min-width: 50px;
  &.active {
    text-decoration: underline;
    font-weight: bold;
  }
  &:hover {
    text-decoration: underline;
    color: darkblue;
  }
}
