<pl-header></pl-header>

<main>
  <pl-user></pl-user>
  <!--<pl-stepper name="das" startValue="111" (valueChanged)="logNewVal ($event)"></pl-stepper>-->
  <!--<pl-stepper name="das" [startValue]="10"></pl-stepper>-->
  <!--<pl-stepper [name]="'hello'"></pl-stepper>-->
<!--
  <pl-countdown></pl-countdown>
  <pl-countdown></pl-countdown>
  <pl-countdown></pl-countdown>
  <pl-bindings></pl-bindings>
-->

  <!--<pl-user></pl-user>-->
  <!--<pl-hello-world></pl-hello-world>-->
  <router-outlet />
</main>

<footer>footer</footer>
