<pl-header></pl-header>

<main>
  <pl-user> </pl-user>

  <!--
  <pl-rxjs></pl-rxjs>
  <pl-pipes></pl-pipes>


  // das ist der ViewContainer des button[plAdminOnly] daruntzer
  <button *plAdminOnly plDanger="hello word">hellow worl</button>
  <button [plDanger]="title" (confirmed)="doDangerStuf()">{{title}}</button>
  <pl-stepper name="das" [startValue]="10"></pl-stepper>
  <hr>
  <pl-if-and-for></pl-if-and-for>
  -->

  <!--
  <pl-nice-button>
    <pl-nice-icon></pl-nice-icon>
    Inhalt ist nicht verloren
  </pl-nice-button>

  <pl-user> </pl-user>
  -->
  <!--<pl-stepper name="das" startValue="111" (valueChanged)="logNewVal ($event)"></pl-stepper>-->
  <!--<pl-stepper name="das" [startValue]="10"></pl-stepper>-->
  <!--<pl-stepper [name]="'hello'"></pl-stepper>-->
<!--
  <pl-countdown></pl-countdown>
  <pl-countdown></pl-countdown>
  <pl-countdown></pl-countdown>
  <pl-bindings></pl-bindings>
-->

  <!--<pl-user></pl-user>-->
  <!--<pl-hello-world></pl-hello-world>-->
  <router-outlet />
</main>

<footer>footer</footer>
