:host {
  display: block;
  background-color: lightblue;
  cursor: pointer;

  &:hover {
    background-color: lightgreen;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &.selected {
    background-color: lightcoral;
    color: white;
    // cursor: not-allowed;
  }

  img {
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Rundes Bild */
    float: right; /* Rechtsbündigkeit */
  }
}
