h1  {
  color: darkcyan;
}
:host {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex-grow: 1; /* Allow this column to grow to fill available space */
}

.right-column {
  max-width: 50%; /* Maximum width for the right column */
  //min-width: 30%; /* Maximum width for the right column */
  margin-left: 10px;
}

@media (max-width: 700px) {
  .left-column, .right-column {
    width: 100%;
  }
}
