<h1>user</h1>
<!--

<h1>user {{locale}} {{baseUrl}} {{$users.name}}</h1>
-->

<pl-user-list [users]="$users.users()" (userSelected)="usrSelected($event)"></pl-user-list>

<ng-container *plAdminOnly>
  <button (click)="$users.addUser()">Add User</button> @if ($users.users().length > 0) { |
    @let selectedUsr = $users.selectedUsr();
    @if (selectedUsr ) {
      <button (confirmed)="$users.delUser( selectedUsr! )" plDanger="willst den dene User wirtklick löschen?">Del Selected User</button> |
    }
    <button (confirmed)="$users.delAll()" plDanger>Del All User</button>
  }
</ng-container>
