
<div  class="left-column">
  <!--<h1>user</h1>-->

  <pl-user-list [users]="$users.users()" (userSelected)="usrSelected($event)"></pl-user-list>
  <!--<button (click)="$users.addUser()">Add User</button>-->
  <button routerLink="/user/add">Add User</button>
  <ng-container *plAdminOnly>
    @if ($users.users().length > 0) {
    |
    @let selectedUsr = $users.selectedUsr();
    @if (selectedUsr) {
      <button (confirmed)="$users.delUser( selectedUsr! )" plDanger="willst den dene User wirtklick löschen?">Del
        Selected User
      </button> |
    }
    <button (confirmed)="$users.delAll()" plDanger>Del All User</button>
  }
  </ng-container>
</div>
<div  class="right-column">
  <router-outlet></router-outlet>
</div>
